<configuration scan="true" scanPeriod="30 seconds">

	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5p: %C - %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="archive"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/usr/local/tomcat/logs/archive/exemple_service.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>2</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d %-5p: %C - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.exemple.service" level="DEBUG" />

	<logger name="com.datastax.oss.driver" level="INFO" />
	<logger name="com.hazelcast" level="INFO" />
	<logger name="org.apache.zookeeper" level="INFO" />
	<logger name="org.springframework.boot" level="INFO" />
	<logger name="org.glassfish.jersey.logging" level="DEBUG" />

	<root level="WARN">
		<appender-ref ref="console" />
		<appender-ref ref="archive" />
	</root>

</configuration>