<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="resource" parallel="false">
	<test name="ut">
		<packages>
			<package name="com.exemple.service.resource.common.validator" />
			<package name="com.exemple.service.resource.common.util" />
			<package name="com.exemple.service.resource.common" />
			<package name="com.exemple.service.resource.account" />
			<package name="com.exemple.service.resource.login" />
			<package name="com.exemple.service.resource.schema" />
			<package name="com.exemple.service.resource.stock" />
			<package name="com.exemple.service.resource.subscription" />
		</packages>
	</test>
</suite>
