<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="api" parallel="false">
	<test name="actuate">
		<packages>
			<package name="com.exemple.service.api.integration.actuate" />
		</packages>
	</test>
	<test name="account">
		<classes>
			<class name="com.exemple.service.api.integration.account.v1.AccountNominalIT" />
			<class name="com.exemple.service.api.integration.account.v1.AccountFailureIT" />
		</classes>
	</test>
	<test name="login">
		<classes>
			<class name="com.exemple.service.api.integration.login.v1.LoginIT" />
			<class name="com.exemple.service.api.integration.login.v1.LoginMultipleIT" />
			<class name="com.exemple.service.api.integration.login.v1.LoginUpdateUsernameIT" />
			<class name="com.exemple.service.api.integration.login.v1.LoginUpdatePasswordIT" />
		</classes>
	</test>
	<test name="subscription">
		<packages>
			<package name="com.exemple.service.api.integration.subscription.v1" />
		</packages>
	</test>
	<test name="stock">
		<packages>
			<package name="com.exemple.service.api.integration.stock.v1" />
		</packages>
	</test>
	<test name="swagger">
		<packages>
			<package name="com.exemple.service.api.integration.swagger" />
		</packages>
	</test>
</suite>
