<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="customer" parallel="false">
	<test name="script">
		<packages>
			<package name="com.exemple.service.customer.core.script" />
		</packages>
	</test>
	<test name="ut">
		<packages>
			<package name="com.exemple.service.customer.account" />
			<package name="com.exemple.service.customer.login" />
			<package name="com.exemple.service.customer.subscription" />
		</packages>
	</test>
</suite>
