<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="customer" parallel="false">
	<test name="ut">
		<packages>
			<package name="com.exemple.service.customer.account" />
			<package name="com.exemple.service.customer.login" />
			<package name="com.exemple.service.customer.subscription" />
			<package name="com.exemple.service.customer.core.validator.rule" />
		</packages>
	</test>
</suite>
