<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="schema" parallel="false">
	<test name="ut">
		<packages>
			<package name="com.exemple.service.schema.filter" />
			<package name="com.exemple.service.schema.validation" />
			<package name="com.exemple.service.schema.merge" />
			<package name="com.exemple.service.schema.validation.annotation" />
			<package name="com.exemple.service.schema.description" />
		</packages>
	</test>
</suite>
