name: build
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:
    inputs:
      branch_cdc:
        description: 'Cdc branch'
        required: true
        default: 'master'
concurrency:
  group: ${{ github.repository }}
  cancel-in-progress: false
env:
   MAVEN_OPTS: -Xmx1g
   BRANCH_CDC: ${{ github.event.inputs.branch_cdc }}
jobs:
   build:
      runs-on: ubuntu-latest
      steps:
      -  uses: actions/checkout@v5
      -  name: Set up JDK
         uses: actions/setup-java@v5
         with:
            distribution: 'zulu'
            java-version: |
              17
              21
      -  name: Cache SonarCloud packages
         uses: actions/cache@v4
         with:
            path: ~/.sonar/cache
            key: ${{ runner.os }}-sonar
            restore-keys: ${{ runner.os }}-sonar
      -  name: Cache Maven packages
         uses: actions/cache@v4
         with:
            path: ~/.m2
            key: ${{ runner.os }}-m2-${{ hashFiles('/pom.xml') }}
            restore-keys: ${{ runner.os }}-m2
      -  name: maven-settings-xml-action
         uses: whelk-io/maven-settings-xml-action@v22
         with:
           repositories: '[{ "id": "repository.spring.milestone", "url": "https://repo.spring.io/milestone" }]'
           plugin_repositories: '[{ "id": "repository.spring.milestone", "url": "https://repo.spring.io/milestone" }]'
      -  name: Checkout exemple cdc
         uses: actions/checkout@v5
         with:
            path: exemple-cdc
            repository: doudouchat/exemple-cdc
            ref:  ${{ env.BRANCH_CDC }}
      -  name: Build exemple cdc
         run: mvn -f ${{ github.workspace }}/exemple-cdc --batch-mode clean install -Dmaven.test.skip=true
         env:
           JAVA_HOME: ${{ env.JAVA_HOME_17_X64 }}
      -  name: Build with Maven
         run: mvn --batch-mode clean verify -Pservice,it -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
      -  uses: codecov/codecov-action@v5
         env:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      -  name: Analyse
         env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
         run: mvn org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.organization=doudouchat -Dsonar.projectKey=doudouchat_exemple-service -Dsonar.host.url=https://sonarcloud.io -Dsonar.java.enablePreview=true
      -  name: display logs service
         if: ${{ always() }}
         run: cat exemple-service-launcher/target/.logs/service/archive/*.log
      -  name: display logs cdc
         if: ${{ always() }}
         run: cat exemple-service-launcher/target/.logs/cassandra/archive/*.log
